*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#4395F6;
    font-family: 'PT Sans', sans-serif;
    
}

h1 {
    color: white;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 6rem;
    text-shadow:black 5px 5px 5px 5px;
    
}

.campologin{
    text-align: center;
    color: white;
    width: 100%;
}

.submit{
    color:white;
    background-color: yellowgreen;
    display: flex;
    margin-top: 10px;
    margin-left: 47%;
padding: 3px;
cursor: pointer;
transition: color .5s;
width: 6rem;
}

.submit:hover{
    font-weight: bold;
    background-color:blue;
    color: black;
}
input{
    height: 20px;
    border-style:none;
    border-radius: 10rem;
    padding: 5px;
    outline:none;
    text-align: center;
}
::placeholder {
    text-align: center;
   font-style: italic;    
}

footer{
    text-align: center;
    bottom: 0%;
    color: white;
    width: 100%;
    position:absolute;
}
i {
    position: relative;
}
@media screen and (max-width:768px) {
    input{ height: 30px;}
    footer {
        background-color: black;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
        color: white;
      } 
}