*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#4395F6;
    font-family: 'PT Sans', sans-serif;
    min-height: 100%;
    
}
.main-container{
    
}

h1 {
    color: white;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 6rem;
    text-shadow:black 5px 5px 5px 5px;
    
}

.campologin{
    text-align: center;
    color: white;
    width: 100%;
}

.submit{
    color:white;
    background-color: yellowgreen;
    display: flex;
    margin-top: 10px;
    margin-left: 47%;
padding: 15px 15px 15px 15px;
cursor: pointer;
transition: color .5s;
width: 6rem;
}

.submit:hover{
    
    color: black;
}
input{
    height: 20px;
    border-style:none;
    border-radius: 10rem;
    padding: 5px;
    outline:none;
    text-align: center;
    margin-left: 5px;
    margin-top: 5px;
}
::placeholder {
    text-align: center;
   font-style: italic;    
}

footer{
    text-align: center;
    color: white;
    width: 100%;
    bottom: 0;
}
i {
    position: relative;
}
@media screen and (max-width:768px) {
    .main-container {
        min-height:100vh;
        border-style: solid;
        color: red;
    }

    input{
         height: 30px;
         margin: 10px;
        }
    footer {
        height: 20px;
      bottom: 0;
        background-color: black;
       
    }
      .submit { 
margin-left: 42%;
      }
}