:root{
--color-principal:#4395F6;
--color-secudario:aliceblue;
--iconos-landing: 80px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans';
}
html{
    height: 100%;

}
body{
    background-color: white;
    min-height: 100%;
position: relative;
padding-bottom: 50px;
}
span{
    margin: 0;
    width: 0;
}
.login-index{
background-color: var(--color-principal);   
min-height: 100%;
position: relative;
padding-bottom: 50px;
overflow-y: hidden;
}

.titulo-login{
    margin-top: 80px;
    text-align: center;
    color: aliceblue;
    max-width: 100%;
    height: 100px;
}
.form-login{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.form-login h2{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
   color: aliceblue;
}

.input-container{
    margin-top:10px;
    height: 40px;
}
.input-container i{
    margin-right: 5px;
}
input{
border-radius: 20px;
border-style: none;
    text-align: center;
   outline: none;
   height: 25px;
}

input:hover{
    outline-style: auto;
    outline-color: red;
    outline-width: 1.5px;
    transition: 0.8s;
}
.input-container .button{
    width: 110px;
    background-color: #c7bb1a;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
.input-container .button:hover{
    outline: none;
    font-weight: bold;
    color: aliceblue;
    transition: 0.5s;
    font-weight: lighter;
}
.footer-login{
    width: 100%;
    font-weight:bolder;
    color: aliceblue;
    text-align: center;
    bottom: 0px;
    height: 30px;
    background-color: black;
    position: fixed;
}
@media screen and (max-width: 768px){
    
}


/* Para colocar asteriscos en rojo 
.required{
    color: red;
    font-size: 20px;
    cursor:default;
}*/
header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    padding: 10px;
    background-color: var(--color-principal);
}
.bienvenida{
    margin-right: 10px;
    color: var(--color-secudario);
    font-weight:bold;
}
.fa-circle-user{
    margin-right: 30px;
    font-size: 20px;
    cursor: pointer;
    
}
.fa-user-plus{
    font-size: var(--iconos-landing);

}

.iconos-opciones{
    font-size: 60px;
    color:var(--color-principal);
    cursor:pointer;
}
.iconos-opciones:hover{
    padding: 3px;
    color: black;
    transition: 0.5s;
}

.container .opciones{
    display: flex;
  text-align: right;
}
.titulo-opciones{
 
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 200px;
    max-width: 30%;
    
}
.opciones{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    
    
}
.caja{
   
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}
.caja p{
  margin-left: 80px;
  margin-top: 15px;
    text-decoration: dashed;
    font-size: 25px;
    font-weight: bold;
}
.opciones .ultima{
    grid-column: span 2;
}
/*.caja a{
    text-decoration: none;
    display: flex;
    cursor: default;
}